.line {
  text-decoration: line-through;
}

.Container {

  word-wrap: break-word;
  width: 320px;
}

@media screen and (min-width: 420px) {
  .Container {
    width: 200px;
  
  }
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  font-size: large;
  color: black;
  padding: 10px;
  width: calc(100% - 20px);
}